* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #3498db;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #2980b9;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #Bapt {
    text-align: center;
    margin-top: 20px;
    color: #3498db;
    font-size: 18px;
  }